form {
    margin: 0 auto 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
  }
  
  button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4e75ff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    caret-color: transparent;
  }
  
  button:hover {
    background-color: #6c8cff;
  }
  
  input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    padding: 8px 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #808080;
    caret-color: transparent;
  }
  
  input:hover {
    border-color: #000;
  }
  
  input:focus {
    outline: none;
    border-color: #4e75ff;
  }
  
  input:focus::placeholder {
    color: #4e75ff;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 24px;
  }